@{
    ViewBag.Title = "Blackboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-custom">
    <h1>Blackboard</h1>
    <p class="lead">Blackboard is a live, asynchronous single-channel encrypted messaging service.
    </p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Communicate securely</h2>
        <p>
            Send a sensitive message onto Blackboard and only someone who knows the key can decrypt its contents.
        </p>

    </div>
    <div class="col-md-6">
        <h2>Send timed messages</h2>
        <p>Sign up for Blackboard Pro and gain access to timed and repeated messages, and more!</p>
        <p><a class="btn btn-default" href="~/Account/Register/">Learn more &raquo;</a></p>
    </div>
</div>



